      *{box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body{
      background-color: rgb(41, 18, 84);
    }
    h3{
      text-align: center;
      color: rgb(23, 192, 192);
    }
      div{border: 5px solid rgb(218, 195, 126); background-color: blanchedalmond; height: 500px;
      
    }

    ul{
      text-align: right;
    }

    li{
      display: inline-block;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
    }

    a{
      background-color: blanchedalmond;
      color: rgb(140, 13, 13);
      text-align: center;
      border: 2px solid rgb(218, 195, 126);
      height: 30px;
      width: 60px;
    }

    p{
      text-align: left; font-size: 20px;
    }